/*
	*Main CSS para implementacion directa de sitios.
	
	*La adaptacion del bolierplate y este codigo son esfuerzo del eqipo de ID.A libre
	*con agradecimientos especiales a Juan Palma encargado de la implementacion.
*/

/* ==========================================================================
	Parametros Globales
========================================================================== */
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap');
/* font-family: 'Sen', sans-serif; */
/* @import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;400;700;900&display=swap'); */
/* font-family: 'League Spartan', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,300;0,400;0,600;1,100;1,300;1,400;1,600&display=swap');
/* font-family: 'Barlow Condensed', sans-serif; */
/* @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,700;1,300;1,700&display=swap'); */
/* font-family: 'Cormorant Garamond', serif; */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root{
	--colorBackDark: #1a1918;
	--colorBackColor: #393735;
	--colorPrincipal: #a34f29;
	--colorSecundario: #3a434d;
	--colorTexto: var(--colorBackColor);
	--margenGlobal: 6vw;
	--anchoContainer: calc(100vw - (var(--margenGlobal) * 2));
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Sen', sans-serif;
	font-weight: 900;
}
body, button, input, select, textarea, ::after, ::before{
	font-family: 'Barlow Condensed', sans-serif;
	font-weight: 400;
	line-height: 1.24;
	letter-spacing: 0.05em;
	color: var(--colorTexto);
}
i::before{
	font-family: inherit;
	font-weight: inherit;
}
.container{
	width: var(--anchoContainer);
}
.anchoFull{
	width: 100vw;
	position: relative;
	margin-left: calc(var(--margenGlobal) * -1);
}
.anchoFullFlex{
	width: 100vw;
	position: relative;
}
	
@-ms-viewport {
	width: device-width;
	zoom: 1.0;
	max-zoom: 1.0;
}

@viewport {
	width: device-width;
	zoom: 1.0;
	max-zoom: 1.0;
}


/* ==========================================================================
	Estilos visiales para elementos GENERALES
========================================================================== */
.desaparece{
	display: none !important;
	visibility: hidden !important;
	width: 1px !important;
	height: 1px !important;
	position: absolute !important;
	overflow: hidden !important;
	opacity: 0 !important;
	clip: rect(1px 1px 1px 1px) !important;
	
}
.ocultar{
	display: none !important;
}
.opacidad0{
	opacity: 0 !important;
}
.opacidad1{
	opacity: 1 !important;
}
.animar{
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.animar1-4{
	-webkit-transition: all 1.4s ease-in-out;
	-moz-transition: all 1.4s ease-in-out;
	-o-transition: all 1.4s ease-in-out;
	-ms-transition: all 1.4s ease-in-out;
	transition: all 1.4s ease-in-out;
}
.colorPrincipal{
	color: var(--colorPrincipal) !important;
}
.colorBackColor{
	color: var(--colorBackColor) !important;
}
p {
	margin-bottom: 1.4em;
}
p:last-of-type {
	margin-bottom: 0;
}







/* ==========================================================================
	Estilos visiales de la ventana pop de avisos
========================================================================== */
div#ventanaPOP {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0px;
	left: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(0 0 0 / 84%);
	z-index: 99999999;
	transition: all 200ms ease-in-out;
}
	#ventanaPOP .ventanaCerrar {
		width: 28px;
		height: 28px;
		position: absolute;
		top: 18px;
		left: auto;
		right: 18px;
		background: darkred;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #fff;
		line-height: 0;
		border-radius: 4px;
		padding-bottom: 2px;
		cursor: pointer;
		font-weight: 900;
		transition: all 200ms ease-in-out;
	}
	#ventanaPOP .ventanaCerrar:hover{
		background-color: orangered;
	}
	#ventanaPOP .mensajeBox {
		max-width: 86%;
		height: auto;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 3em;
		background: #fff;
		border: 8px solid #555;
		border-radius: 30px;
		font-size: 120%;
		transition: all 200ms ease-in-out;
	}
		#ventanaPOP button {
			appearance: none;
			padding: 6px 24px;
			margin: 24px 0 0;
			border: 0;
			border-radius: 6px;
			background-color: #444;
			color: #fff;
			cursor: pointer;
			transition: all 200ms ease-in-out;
		}
		#ventanaPOP .mensajeBox button:hover{
			background-color: #000 !important;
		}
		div#ventanaPOP .mensajeBox i:before {
			font-size: 360%;
			margin-bottom: 30px;
			display: block;
		}



	div#ventanaPOP.ok .mensajeBox i:before{
		color: #1ba902;
	}
	div#ventanaPOP.ok .mensajeBox{
		border: 8px solid #1ba902;
	}
	div#ventanaPOP.ok .mensajeBox button{
		background-color: #1ba902;
	}

	div#ventanaPOP.alert .mensajeBox i:before{
		color: #ddaa01;
	}
	div#ventanaPOP.alert .mensajeBox{
		border: 8px solid #ddaa01;
	}
	div#ventanaPOP.alert .mensajeBox button{
		background-color: #ddaa01;
	}

	div#ventanaPOP.error .mensajeBox i:before{
		color: #b42b08;
	}
	div#ventanaPOP.error .mensajeBox{
		border: 8px solid #b42b08;
	}
	div#ventanaPOP.error .mensajeBox button{
		background-color: #b42b08;
	}
















/* ==========================================================================
	Estilos visiales del sitio.
========================================================================== */
#fondo_body{
	/* background : var(--colorBackDark); */
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.contenedor{
	width: 99vw;
    position: relative;
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
    align-items: center;
	gap:25px;
}

.loginBaner{
	width: 100%;
	
	flex-direction: column;
	
	color:white;
}
.main{
	width: 85%;
}
.producto-descripcion {
    width: 100%;
    display: flex;
    justify-content: space-between;
	padding: 40px;
}
.img-producto {
    flex: 1 0 250px;
    display: flex;
}
.img-producto-seleccionado {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}
.caracteristicas-producto {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 0 20px;
}
.nombre-producto {
    font-size: clamp(1em,3vw,4em);
    font-weight: bold;
}
.precio-producto {
    font-size: clamp(1em,2vw,2em);
}
.descripcion {
    font-size: clamp(1em,2vw,2em);
}



.navegar{
	width: 80%;
	display: flex;
	position:relative;
	justify-content: space-between;
	align-items: center;
	left: 8vw;
	gap: 5px;
}
.logoBarBusqueda{
	display: flex;
	align-items: center;
}
.logo{
	display: flex;
	width: clamp(100px,11vw,11vw);
    height: clamp(50px,5vw,5vw);
	position: relative;
}
.logo-img{
	object-fit: contain;
    width: 100%;
}
.barBusqueda{
	width: 400px;
	background-color: #F5F5F5;
	color: #A2A2A2;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 10px;
    border-radius: 20px;
	margin-left: 50px;
}

.bar-img{
	display: none;
}
input{
    border-style: none;
    padding: 8px;
    outline: none;
    width: 80%;
    height: 100%;
    background-color: transparent;
    border: 0;
	letter-spacing: 2px;
}
#login{
	color: #2A7AE4;
	border: solid 1px #2A7AE4;
}
.btn{
    width: clamp(105px,10vw,10vw);
	height: clamp(30px,3vw,3vw);
    display: flex;
    justify-content: center;
    align-items: center;
	border-radius:10px;
	cursor: pointer;
}
#login:hover{
	background-color: #2A7AE4;
	color: white;
}
.login-lupa{
		display: flex;
		justify-content: space-around;
		align-items: center;
		height: clamp(30px,3vw,3vw);
		
}

.barProductos {
    width: 100%;
    display: flex;
    flex-direction: column;
	padding: 40px;
}
.navProductos {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.conceptoProducto {
    font-size: 1.5em;
    font-weight: bold;
    width: auto;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.productos {
    width: 100%;
    display: flex;
    gap: 10px;
	flex-wrap: wrap;
}
.producto {
    display: flex;
    flex-direction: column;
	flex: 1 0 0;
}
.imgProducto {
    display: flex;
}
.img-producto-barra{
	width: 100%;
    object-fit: contain;
	border-radius: 10px;
	cursor: pointer;
}
.producto-caracteristicas {
    color: #2A7AE4;
    font-weight: bold;
    cursor: pointer;
}
.contacto-footer {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	background-color: #EAF2FD;
}
footer {
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
	border-radius: 10px;
    background-color: #EAF2FD;
}
.logo-nav-footer {
    width: 40%;
	height: 75%;
    display: flex;
    justify-content: space-between;
}

.contacto {
    width: 40%;
	height: 75%;
    display: flex;
    gap: 10px;
    flex-direction: column;
	justify-content: space-between;
}
.contactoTexto {
    width: 100%;
	font-weight: bold;
}
.contactoNombre {
    width: 100%;
    height: 50px;
    background: white;
    border-radius: 10px;
	padding: 5px 0 0 10px;
}
.contactoMensaje {
    width: 100%;
    height: 100px;
    background: white;
    border-radius: 10px;
	padding: 5px 0 0 10px;
}
#ContactoBtn {
    color: white;
    background-color: #2A7AE4;
}
.navFooter {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    letter-spacing: 2px;
    font-size: 1em;
    justify-content: space-between;
}
.navFooterSecciones {
    display: flex;
    width: 100%;
    align-items: center;
}
.navFooterSecciones:hover {
  cursor: pointer;
  text-decoration: underline;
}
















/* ==========================================================================
	Estilos para un espect ratio de 2:1
========================================================================== */
@media (min-aspect-ratio: 2/1) {
	
}

/* ==========================================================================
	Estilos para un espect ratio de 8:5
========================================================================== */
@media (min-aspect-ratio: 8/5) {
	
}






/* ==========================================================================
	Estilos para un especto de pie
========================================================================== */
@media screen and (orientation:portrait){
	:root{
		--margenGlobal: 8vw;
	}
	.onlyLanscape{
		display: none !important;
		visibility: hidden !important;
		width: 0px !important;
		height: 0px !important;
		overflow: hidden !important;
	}


	
}
/* ==========================================================================
	Estilos para un especto de pie pero en dispositivos pequeños
========================================================================== */
@media screen and (orientation:portrait) and (max-width: 680px){
	
}







/* ==========================================================================
	Estilos para un especto de acostado
========================================================================== */
@media screen and (orientation:landscape){
	.onlyPortrait{
		display: none !important;
		visibility: hidden !important;
		width: 0px !important;
		height: 0px !important;
		overflow: hidden !important;
	}	
}
/* ==========================================================================
	Estilos para un especto acostado pero en dispositivos medianos
========================================================================== */
@media screen and (orientation:landscape) and (max-width: 980px){

}
/* ==========================================================================
	Estilos para un espect acostado pero en dispositivos chicos
========================================================================== */
@media screen and (orientation:landscape) and (max-width: 860px){

}
/* ==========================================================================
	Estilos para un espect acostado pero en dispositivos chicos
========================================================================== */
@media screen and (orientation:landscape) and (max-width: 720px){
	
}
/* ==========================================================================
	Estilos para un espect acostado pero en dispositivos muy chicos
========================================================================== */
@media screen and (orientation:landscape) and (max-height: 460px){

}
















/* ==========================================================================
	Media Queries
========================================================================== */
@media only screen and (max-width: 1600px) {

}









/* ==========================================================================
	Media Queries
========================================================================== */
@media only screen and (max-width: 1280px) {

}







/* ==========================================================================
	Media Queries
========================================================================== */
@media only screen and (max-width: 1024px) {

}






/* ==========================================================================
	Media Queries
========================================================================== */
@media only screen and (min-width: 860px) {
	
}








/* ==========================================================================
	Media Queries
========================================================================== */
@media only screen and (max-width: 846px) {
	:root{
		--margenGlobal: 8vw;
	}
}






@media only screen and (max-width: 768px){
	.onlyDesktop{
		display: none !important;
		visibility: hidden !important;
		width: 0px !important;
		height: 0px !important;
		overflow: hidden !important;
	}
	.barBusqueda {
		margin-left: 6px;
	}
	.logo-nav-footer {
		flex-direction: column;
	}
	.navFooter {
		width: 100%;
		height: inherit;
	}
	.contacto {
		width: 60%;
	}
}
@media only screen and (min-width: 760px){
	.onlyMobile{
		display: none !important;
		visibility: hidden !important;
		width: 0px !important;
		height: 0px !important;
		overflow: hidden !important;
	}
	
}







/* ==========================================================================
	Media Queries
========================================================================== */
@media only screen and (max-width: 680px) {
	.barBusqueda{
		display: none;
	}
	.bar-img{
		width: 30px;
		height: 30px;
		color: #A2A2A2;
		display: flex;
		justify-content:  center;
		align-items: center;
	}
}






/* ==========================================================================
	Media Queries
========================================================================== */
@media only screen and (max-width: 590px) {
	
}





/* ==========================================================================
	Media Queries
========================================================================== */
@media only screen and (max-width: 480px) {
	.contacto-footer {
		height: auto;
		gap: 25px;
	}
	.logo-nav-footer {
		width: 100%;
		align-items: center;
	}
	footer {
		gap: 25px;
		flex-direction: column;
	}
	.navFooter {
		gap: 10px;
		width: 100%;
	}
	.navFooterSecciones {
		justify-content: center;
	}
	.contacto {
		width: 100%;
		align-items: center;
	}
	.contactoMensaje {
		padding: 2px 0 0 10px;
	}
	.contactoNombre {
		padding: 2px 0 0 10px;
	}
    .producto-descripcion {
        width: 85%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .caracteristicas-producto {
        width: 100%;
        padding: 0;
    }
}










/* ==========================================================================
	Media Queries
========================================================================== */
@media only screen and (max-width: 370px) {

	
}










